/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFFFFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; }

h1 { margin-bottom: 1em; }

p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.about h1 {
  margin-bottom: 0.3em;
}

.about p {
  margin-top: 0.3em;
  margin-bottom: 1.4em;
}

.projects h1 {
  margin-bottom: 0.3em;
}

.projects h2 {
  margin-left: 0.5em;
}

.projects p {
  line-height: 1.15em;
  margin-top: 0em;
  margin-left: 1.5em;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.host-footer {
  font-size: small;
  color: #A6A6A6;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  margin-left: 1em;
}

.host-footer a {
  color: #8085C1;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .links-wrap {
  margin-top: 1em;
}

.footer .links-wrap h1 {
  margin-top: 0em;
  margin-bottom: 0em;
}

.footer .links p {
  margin-top: 0em;
  float: left;
  margin-right: 3em; 
}

.footer .links a {
  color: #8085C1;
}

.footer .contact-wrap {
  clear: both;
  border-top: 4px solid #eee;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

/*****************************************************************************/
/*
/*  Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post h6 {
  opacity: 0.7;
  font-size: 85%;
  color: #8A8A8A;
}

.post figure {
  margin-top: 2em;
}

.post figure > img {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

.post figure > figcaption {
  text-align: center;
  font-size: 80%;
  margin-bottom: 1em;
  border: 2px solid #e9e9e9;
  background-color: #f9f9f9;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post .disclaimer {
  position: absolute;
  border: 2px solid #91CC9F;
  background-color: #E8FFED;
}

.post .disclaimer p {
  margin: 0em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
